<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="barista_robot">

  <xacro:property name="robot_name" value="$(arg robot_name)"/>
  <xacro:property name="prefix" value="$(arg robot_name)/"/>
  <xacro:property name="include_laser" value="true"/>

  <xacro:include filename="$(find barista_robot_description)/xacro/drive_wheel.xacro"/>
  <xacro:include filename="$(find barista_robot_description)/xacro/caster_wheel.xacro"/>
  <xacro:include filename="$(find barista_robot_description)/xacro/standoff_rod.xacro"/>
  <xacro:include filename="$(find barista_robot_description)/xacro/cup_holder_tray.xacro"/>
  <xacro:include filename="$(find barista_robot_description)/xacro/laser_scanner.xacro"/>
  <xacro:include filename="$(find barista_robot_description)/xacro/barista_robot.gazebo.xacro" />
 
  <!-- Robot color macro -->
  <xacro:if value="${robot_name == 'rick'}">
    <xacro:property name="robot_color_gz" value="Gazebo/Red"/>
    <xacro:property name="robot_color" value="1.0 0.0 0.0 1.0"/>
  </xacro:if>
  <xacro:if value="${robot_name == 'morty'}">
    <xacro:property name="robot_color_gz" value="Gazebo/Blue"/>
    <xacro:property name="robot_color" value="0.0 0.0 1.0 1.0"/>
  </xacro:if>

  <!-- Robot chassis -->
  <link name="${prefix}base_link">
  </link>
  <joint name="${prefix}base_link_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0.1132" />
    <parent link="${prefix}base_link" />
    <child link="${prefix}chassis" />
  </joint>
  <link name="${prefix}chassis">
    <visual>
      <geometry>
          <cylinder length="0.155" radius="0.178"/>
      </geometry>
      <material name="Robot Color">
          <color rgba="${robot_color}"/>
      </material>
    </visual>
    <collision>
      <geometry>
          <cylinder length="0.155" radius="0.178"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="10."/>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <inertia ixx="0.009925" ixy="0" ixz="0" iyy="0.009925" iyz="0" izz="0.15842"/>
    </inertial>
  </link>

  <!-- Drive wheels macro -->
  <xacro:drive_wheel side="left" parent="${prefix}chassis" xyz="0.0 0.14 -0.078"/>
  <xacro:drive_wheel side="right" parent="${prefix}chassis" xyz="0.0 -0.14 -0.078"/>

  <!-- Caster wheel macro -->
  <xacro:caster_wheel side="front" parent="${prefix}chassis" xyz="0.13 0 -0.078"/>
  <xacro:caster_wheel side="back" parent="${prefix}chassis" xyz="-0.13 0 -0.078"/>

  <!-- Standoff rods macro -->
  <xacro:standoff_rod name="${prefix}standoff_rod_fl" parent="${prefix}chassis" xyz="0.03 0.13 0.188" length="0.22" radius="0.01"/>
  <xacro:standoff_rod name="${prefix}standoff_rod_fr" parent="${prefix}chassis" xyz="0.03 -0.13 0.188" length="0.22" radius="0.01"/>
  <xacro:standoff_rod name="${prefix}standoff_rod_bl" parent="${prefix}chassis" xyz="-0.03 0.13 0.188" length="0.22" radius="0.01"/>
  <xacro:standoff_rod name="${prefix}standoff_rod_br" parent="${prefix}chassis" xyz="-0.03 -0.13 0.188" length="0.22" radius="0.01"/>

  <!-- Cup holder tray macro -->
  <xacro:cup_holder_tray parent="${prefix}chassis" xyz="0 0.0 0.343"/>

  <!-- Conditionally include laser macro -->
  <xacro:if value="${include_laser}">
    <xacro:laser_scanner parent="${prefix}chassis" xyz="0.11 0 0.1325"/>
  </xacro:if>

  <!-- Gazebo elements/plugins macro -->
  <xacro:gazebo_elements />
</robot>
