<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:macro name="cup_holder_tray" params="parent xyz">

  <joint name="${prefix}cupholder_tray_joint" type="fixed">
    <origin rpy="0 0 0" xyz="${xyz}"/>
    <parent link="${parent}"/>
    <child link="${prefix}cupholder_tray"/>
  </joint>

  <link name="${prefix}cupholder_tray">
    <visual>
      <geometry>
        <cylinder length="0.09" radius="0.16"/>
      </geometry>
      <material name="Robot Color">
          <color rgba="${robot_color}"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <cylinder length="0.09" radius="0.16"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="5.0"/>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <inertia ixx="0.0102" ixy="0" ixz="0" iyy="0.0102" iyz="0" izz="0.064"/>
    </inertial>
  </link>

</xacro:macro>
</robot>
